In [1]:
import os
import subprocess
import json
import pandas as pd
# using sqlalchemy
import mysql.connector
from sqlalchemy import create_engine
import datetime as dt 
import glob

# Cloning the repository

In [2]:
#cloning the Github repository using url
repo_url = "https://github.com/PhonePe/pulse.git"
#cloning the repository to below directory
repo_dir = r"C:\Users\krish\anaconda\Portfolioprojects\pulse"

# checking if the directory exists already
if not os.path.exists(repo_dir):
    subprocess.call(["git", "clone", repo_url, repo_dir])

# Aggregate
<p>Transaction

In [3]:
#specify the folder path using '*' pattern
path = 'C:\\Users\\krish\\anaconda\\Portfolioprojects\\pulse\\data\\aggregated\\transaction\\*\\*\\state\\*\\*\\*.json'
files = glob.glob(path)

In [7]:
dfs = []

for file in files: 
    parts = file.split("\\")
    state_name = parts[12]
    year = int(parts[13][:4])
    quarter_number = int(parts[14][0])
    quarter = "Q" + str(quarter_number)
    
    with open(file) as f:
        data = json.load(f)
    
    transactions = []
    for transaction in data['data']['transactionData']:
        name = transaction['name']
        payment_instrument = transaction['paymentInstruments'][0]
        count = int(payment_instrument['count'])
        amount = int(payment_instrument['amount'])
        transactions.append({'country': 'India','state': state_name,'year': year, 'quarter': quarter, 'transaction_type': name, 'transaction_count': count, 'total_amount': amount})
    
    df = pd.DataFrame(transactions)
    dfs.append(df)

df_concat_agg_tran = pd.concat(dfs)
df_concat_agg_tran = df_concat_agg_tran.reset_index(drop=True)

In [14]:
df_concat_agg_tran

,country,state,year,quarter,transaction_type,transaction_count,total_amount
0,India,andaman-&-nicobar-islands,2018,Q1,Recharge & bill payments,4200,1845307
1,India,andaman-&-nicobar-islands,2018,Q1,Peer-to-peer payments,1871,12138655
2,India,andaman-&-nicobar-islands,2018,Q1,Merchant payments,298,452507
3,India,andaman-&-nicobar-islands,2018,Q1,Financial Services,33,10601
4,India,andaman-&-nicobar-islands,2018,Q1,Others,256,184689
...,...,...,...,...,...,...,...
3589,India,west-bengal,2022,Q4,Peer-to-peer payments,184380244,620222191587
3590,India,west-bengal,2022,Q4,Merchant payments,171667404,140807748126
3591,India,west-bengal,2022,Q4,Recharge & bill payments,48921147,26026633153
3592,India,west-bengal,2022,Q4,Financial Services,268388,261122865
3593,India,west-bengal,2022,Q4,Others,610414,457937874

In [20]:
# using create_engine module opening the MySql with correct credentials
engine = create_engine('mysql+mysqlconnector://root:amritha@127.0.0.1:3306/pulse')
connection = engine.connect()

In [22]:
create_sql = """
    CREATE TABLE IF NOT EXISTS aggregate_transaction (
        MyIndex INT NOT NULL AUTO_INCREMENT,
        country VARCHAR(10),
        state VARCHAR(50),
        year INT,
        quarter INT,
        transaction_type VARCHAR(50),
        transaction_count BIGINT,
        total_amount BIGINT,
        PRIMARY KEY (MyIndex)
    )
"""
connection.execute(create_sql)

In [24]:
# create a table name and store the dataframe
df_concat_agg_tran.to_sql(name='aggregate_transaction', con=engine, if_exists='replace', index=False)

3594

# User

In [25]:
#specify the folder path using '*' pattern
path = 'C:\\Users\\krish\\anaconda\\Portfolioprojects\\pulse\\data\\aggregated\\user\\*\\*\\state\\*\\*\\*.json'
files = glob.glob(path)

In [26]:
# declaring a empty list
dfs = []
#itering over the each file opened from the directory
for file in files: 
    parts = file.split("\\")
    state_name = parts[12]
    year = int(parts[13][:4])
    quarter_number = int(parts[14][0])
    quarter = "Q" + str(quarter_number)
    # opening the json file one by one into python dictionary
    with open(file) as f:
        data = json.load(f)
    # declaring a empty list to capture only the required data for analysing
    transactions = []
    # itering through the first file and extracting values of name, type, count, and amount of the payment instrument, and stores them in a new dictionary.
    for user in data['data']['aggregated']:
        registered = int(data['data']['aggregated']['registeredUsers'])
        app = int(data['data']['aggregated']['appOpens'])
        transactions.append({'country': 'india','state': state_name,'year': year, 'quarter': quarter,'registered_users': registered,'apps_opened': app})
    # converting the list of dictionaries to dataframe    
    df = pd.DataFrame(transactions)
    # adding converted data frame into new list
    dfs.append(df)
# concatinate all the list having dataframe of each file in the directory
df_concat_agg_user = pd.concat(dfs)
# reseting the index
df_concat_agg_user = df_concat_agg_user.reset_index(drop=True)

In [27]:
df_concat_agg_user

,country,state,year,quarter,registered_users,apps_opened
0,india,andaman-&-nicobar-islands,2018,Q1,6740,0
1,india,andaman-&-nicobar-islands,2018,Q1,6740,0
2,india,andaman-&-nicobar-islands,2018,Q2,9405,0
3,india,andaman-&-nicobar-islands,2018,Q2,9405,0
4,india,andaman-&-nicobar-islands,2018,Q3,12149,0
...,...,...,...,...,...,...
1435,india,west-bengal,2022,Q2,23124388,250276369
1436,india,west-bengal,2022,Q3,24372048,256445748
1437,india,west-bengal,2022,Q3,24372048,256445748
1438,india,west-bengal,2022,Q4,25536381,678066327
1439,india,west-bengal,2022,Q4,25536381,678066327

In [28]:
create_sql = """
    CREATE TABLE IF NOT EXISTS aggregate_user (
        MyIndex INT NOT NULL AUTO_INCREMENT,
        country VARCHAR(10),
        state VARCHAR(50),
        year INT,
        quarter INT,
        registered_user BIGINT,
        apps_opened BIGINT,
        PRIMARY KEY (MyIndex)
    )
"""
connection.execute(create_sql)

In [29]:
# create a table name and store the dataframe
df_concat_agg_user.to_sql(name='aggregate_user', con=engine, if_exists='replace', index=False)

1440

# Map
<h2>Transaction

In [60]:
#specify the folder path using '*' pattern
path = r'C:\Users\krish\anaconda\Portfolioprojects\pulse\data\map\transaction\*\*\*\state\*\*\*.json'
files = glob.glob(path)

In [61]:
dfs = []

for file in files: 
    parts = file.split("\\")
    state_name = parts[13]
    year = int(parts[14][:4])
    quarter_number = int(parts[15][0])
    quarter = "Q" + str(quarter_number)
    
    with open(file) as f:
        data = json.load(f)
    
    hoverdatas = []
    for hoverdata in data['data']['hoverDataList']:
            name = hoverdata['name']
            metrics = hoverdata['metric'][0]
            count = int(metrics['count'])
            amount = int(metrics['amount'])
            #A list of dictionaries is created, where each dictionary corresponds to one transaction. 
            hoverdatas.append({'country': 'india','state': state_name,'year': year,'quarter':quarter,'district_name': name,'transaction_count': count, 'total_amount': amount})
    
    # converting the list of dictionaries to dataframe    
    df = pd.DataFrame(hoverdatas)
    dfs.append(df)

df_concat_map_tran = pd.concat(dfs)
df_concat_map_tran = df_concat_map_tran.reset_index(drop=True)

In [62]:
df_concat_map_tran

,country,state,year,quarter,district_name,transaction_count,total_amount
0,india,andaman-&-nicobar-islands,2018,Q1,north and middle andaman district,442,931663
1,india,andaman-&-nicobar-islands,2018,Q1,south andaman district,5688,12560249
2,india,andaman-&-nicobar-islands,2018,Q1,nicobars district,528,1139848
3,india,andaman-&-nicobar-islands,2018,Q2,north and middle andaman district,825,1317863
4,india,andaman-&-nicobar-islands,2018,Q2,south andaman district,9395,23948235
...,...,...,...,...,...,...,...
14631,india,west-bengal,2022,Q4,nadia district,12690126,28045682168
14632,india,west-bengal,2022,Q4,birbhum district,7617444,16146502753
14633,india,west-bengal,2022,Q4,purba medinipur district,14484229,33099490372
14634,india,west-bengal,2022,Q4,maldah district,12492746,27218606574
14635,india,west-bengal,2022,Q4,darjiling district,8827502,18016497295

In [65]:
create_sql = """
    CREATE TABLE IF NOT EXISTS map_transaction (
        MyIndex INT NOT NULL AUTO_INCREMENT,
        country VARCHAR(10),
        state VARCHAR(50),
        year INT,
        quarter INT,
        district_name VARCHAR(50),
        transaction_count BIGINT,
        total_amount BIGINT,
        PRIMARY KEY (MyIndex)
    )
"""
connection.execute(create_sql)

In [66]:
# create a table name and store the dataframe
df_concat_map_tran.to_sql(name='map_transaction', con=engine, if_exists='replace', index=False)

14636

# MAP_User

In [67]:
#specify the folder path using '*' pattern
path = r'C:\Users\krish\anaconda\Portfolioprojects\pulse\data\map\user\*\*\*\state\*\*\*.json'
files = glob.glob(path)

In [68]:

# declaring a empty list
dfs = []
#itering over the each file opened from the directory
for file in files: 
    parts = file.split("\\")
    state_name = parts[13]
    year = int(parts[14][:4])
    quarter_number = int(parts[15][0])
    quarter = "Q" + str(quarter_number)
    # opening the json file one by one into python dictionary
    with open(file) as f:
        data = json.load(f)
    # declaring a empty list to capture only the required data for analysing
    transactions = []
    # itering through the first file and extracting values of name, type, count, and amount of the payment instrument, and stores them in a new dictionary.
    for states, users in data['data']['hoverData'].items():
        state = states
        registered = int(users['registeredUsers'])
        app = int(users['appOpens'])
        transactions.append({'country': 'india','state': state_name,'year': year,'quarter':quarter,'states':state,'registered_users': registered,'apps_opened': app})
    # converting the list of dictionaries to dataframe    
    df = pd.DataFrame(transactions)
    # adding converted data frame into new list
    dfs.append(df)
# concatinate all the list having dataframe of each file in the directory
df_concat_map_user = pd.concat(dfs)
# reseting the index
df_concat_map_user = df_concat_map_user.reset_index(drop=True)

In [69]:
df_concat_map_user

,country,state,year,quarter,states,registered_users,apps_opened
0,india,andaman-&-nicobar-islands,2018,Q1,north and middle andaman district,632,0
1,india,andaman-&-nicobar-islands,2018,Q1,south andaman district,5846,0
2,india,andaman-&-nicobar-islands,2018,Q1,nicobars district,262,0
3,india,andaman-&-nicobar-islands,2018,Q2,north and middle andaman district,911,0
4,india,andaman-&-nicobar-islands,2018,Q2,south andaman district,8143,0
...,...,...,...,...,...,...,...
14635,india,west-bengal,2022,Q4,nadia district,1359420,33853990
14636,india,west-bengal,2022,Q4,birbhum district,855236,20950662
14637,india,west-bengal,2022,Q4,purba medinipur district,1346908,38278506
14638,india,west-bengal,2022,Q4,maldah district,954892,29023743
14639,india,west-bengal,2022,Q4,darjiling district,564562,15982631

In [71]:
create_sql = """
    CREATE TABLE IF NOT EXISTS map_user (
        MyIndex INT NOT NULL AUTO_INCREMENT,
        country VARCHAR(10),
        state VARCHAR(50),
        year INT,
        quarter INT,
        states VARCHAR(50),
        registered_users BIGINT,
        apps_opened BIGINT,
        PRIMARY KEY (MyIndex)
    )
"""
connection.execute(create_sql)

In [72]:
# create a table name and store the dataframe
df_concat_map_user.to_sql(name='map_user', con=engine, if_exists='replace', index=False)

14640

# Top
<h2>Transaction

In [78]:
#specify the folder path using '*' pattern
path = r'C:\Users\krish\anaconda\Portfolioprojects\pulse\data\top\transaction\*\*\state\*\*\*.json'
files = glob.glob(path)

In [79]:
dfs = []

for file in files: 
    parts = file.split("\\")
    state_name = parts[12]
    year = int(parts[13][:4])
    quarter_number = int(parts[14][0])
    quarter = "Q" + str(quarter_number)
    
    with open(file) as f:
        data = json.load(f)
    
    entity_list = []
   
    for dist in data['data']['districts']:
                name = dist['entityName']
                metrics = dist['metric']
                count = int(metrics['count'])
                amount = int(metrics['amount'])
                #A list of dictionaries is created, where each dictionary corresponds to one transaction.
                entity_list .append({'country': 'india','state': state_name,'year': year,'entity_type':'district','quarter':quarter,'district&pincode': name, 'transaction_count': count, 'total_amount': amount})
    for pin in data['data']['pincodes']:
                name = pin['entityName']
                metrics = pin['metric']
                count = int(metrics['count'])
                amount = int(metrics['amount'])
                #A list of dictionaries is created, where each dictionary corresponds to one transaction.
                entity_list .append({'country': 'india','state': state_name,'year': year,'entity_type':'pincode','quarter':quarter,'district&pincode': name, 'transaction_count': count, 'total_amount': amount,})
    # converting the list of dictionaries to dataframe  
    #    
    df = pd.DataFrame(entity_list)
    dfs.append(df)

df_concat_top_agg = pd.concat(dfs)
df_concat_top_agg  = df_concat_top_agg .reset_index(drop=True)

In [80]:
df_concat_top_agg

,country,state,year,entity_type,quarter,district&pincode,transaction_count,total_amount
0,india,andaman-&-nicobar-islands,2018,district,Q1,south andaman,5688,12560249
1,india,andaman-&-nicobar-islands,2018,district,Q1,nicobars,528,1139848
2,india,andaman-&-nicobar-islands,2018,district,Q1,north and middle andaman,442,931663
3,india,andaman-&-nicobar-islands,2018,pincode,Q1,744101,1622,2769297
4,india,andaman-&-nicobar-islands,2018,pincode,Q1,744103,1223,2238041
...,...,...,...,...,...,...,...,...
13054,india,west-bengal,2022,pincode,Q4,722101,2900058,5748321357
13055,india,west-bengal,2022,pincode,Q4,700135,2471048,3527456983
13056,india,west-bengal,2022,pincode,Q4,732101,2407008,5052109230
13057,india,west-bengal,2022,pincode,Q4,700091,2348447,2176639604
13058,india,west-bengal,2022,pincode,Q4,711101,1765314,4048328948

In [88]:
create_sql = """
    CREATE TABLE IF NOT EXISTS top_transaction (
        MyIndex INT NOT NULL AUTO_INCREMENT,
        country VARCHAR(10),
        state VARCHAR(50),
        year INT,
        entity_type VARCHAR(30),
        quarter INT,
        `district&pincode` VARCHAR(50),
        transaction_count BIGINT,
        total_amount BIGINT,
        PRIMARY KEY (MyIndex)
    )
"""
connection.execute(create_sql)

In [89]:
# create a table name and store the dataframe
df_concat_top_agg.to_sql(name='top_transaction', con=engine, if_exists='replace', index=False)

13059

# Top
<h3>User

In [85]:
#specify the folder path using '*' pattern
path = r'C:\Users\krish\anaconda\Portfolioprojects\pulse\data\top\user\*\*\state\*\*\*.json'
files = glob.glob(path)

In [86]:
# declaring a empty list
dfs = []
#itering over the each file opened from the directory
for file in files: 
    parts = file.split("\\")
    state_name = parts[12]
    year = int(parts[13][:4])
    quarter_number = int(parts[14][0])
    quarter = "Q" + str(quarter_number)
    # opening the json file one by one into python dictionary
    with open(file) as f:
        data = json.load(f)
    # declaring a empty list to capture only the required data for analysing
    transactions = []
    # itering through the first file and extracting values of name, type, count, and amount of the payment instrument, and stores them in a new dictionary.
    # for states in data['data']['states']:
    #     state = states['name']
    #     registered = int(states['registeredUsers'])
    #     transactions.append({'state_district_pin':state,'registered_users': registered,'entity_type':'state'})
    for dist in data['data']['districts']:
        district = dist['name']
        registered = int(dist['registeredUsers'])
        transactions.append({'country': 'india','state': state_name,'year': year,'entity_type':'district','quarter':quarter,'district&pin':district,'registered_users': registered})
    for pin in data['data']['pincodes']:
        pincode = pin['name']
        registered = int(pin['registeredUsers'])
        transactions.append({'country': 'india','state': state_name,'year': year,'entity_type':'pincode','quarter':quarter,'district&pin':pincode,'registered_users': registered,})
    # converting the list of dictionaries to dataframe    
    df = pd.DataFrame(transactions)
    # adding converted data frame into new list
    dfs.append(df)
# concatinate all the list having dataframe of each file in the directory
df_concat_top_user = pd.concat(dfs)
# reseting the index
df_concat_top_user = df_concat_top_user.reset_index(drop=True)

In [87]:
df_concat_top_user

,country,state,year,entity_type,quarter,district&pin,registered_users
0,india,andaman-&-nicobar-islands,2018,district,Q1,south andaman,5846
1,india,andaman-&-nicobar-islands,2018,district,Q1,north and middle andaman,632
2,india,andaman-&-nicobar-islands,2018,district,Q1,nicobars,262
3,india,andaman-&-nicobar-islands,2018,pincode,Q1,744103,1608
4,india,andaman-&-nicobar-islands,2018,pincode,Q1,744101,1108
...,...,...,...,...,...,...,...
13055,india,west-bengal,2022,pincode,Q4,700015,108457
13056,india,west-bengal,2022,pincode,Q4,742304,105471
13057,india,west-bengal,2022,pincode,Q4,721101,105279
13058,india,west-bengal,2022,pincode,Q4,700091,102363
13059,india,west-bengal,2022,pincode,Q4,700150,101966

In [90]:
create_sql = """
    CREATE TABLE IF NOT EXISTS top_user (
        MyIndex INT NOT NULL AUTO_INCREMENT,
        country VARCHAR(10),
        state VARCHAR(50),
        year INT,
        entity_type VARCHAR(30),
        quarter INT,
        `district&pin` VARCHAR(50),
        registered_users BIGINT,
        PRIMARY KEY (MyIndex)
    )
"""
connection.execute(create_sql)

In [91]:
# create a table name and store the dataframe
df_concat_top_user.to_sql(name='top_user', con=engine, if_exists='replace', index=False)

13060